* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

.background {
    background-image: url('../pictures/LoginBg.png'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.489);
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

label {
    font-size: 14px;
    color: #555;
    text-align: left;
    display: block;
    margin-top: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f6f6f6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    
    background: linear-gradient(45deg,#A4DADC,#587576);
    background-size: 300% 300%;
    animation: gradient-animation 3s ease infinite;
    cursor: pointer;
}

.divider {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.divider hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: #ddd;
}

.divider span {
    margin: 0 10px;
    color: #888;
    font-size: 14px;
}

.google-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.google-btn img {
    width: 20px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #f0f0f0;
}
